//!     /* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Changa:wght@500&family=Open+Sans:ital,wght@1,300&display=swap');

//!     /** Variables **/
$primary-font: 'Changa', sans-serif;
$secondary-font: 'Open Sans', sans-serif;
$primary-color: #E51515;
$secondary-color: #14151A;
$date-color: #ffb320;
$comment-color: #08abbd;
$gray-color:#9f9f9f;
$light-color:#fefefe;
